.app {
  margin: 32px;
  display: flex;
}
.app h2 {
  margin: 4px 0;
}

.app .side-panel {
  margin-right: 32px;
}
.app aside {
  opacity: 0.5;
  font-style: italic;
  padding: 2px 16px;
  font-size: 12px;
}
.app aside > a,
.app aside > a:link {
  text-decoration: none;
}
.app aside > a > span {
  display: inline-block;
  margin: 0 6px;
}
.app aside:hover {
  opacity: 1;
}
.app .content {
  margin-top: 8px;
  border-left: solid thin #eee;
  padding-left: 24px;
}
.app .content .toggle-panels {
  cursor: pointer;
}
.app .list-items {
  position: relative;
  margin: 8px;
  width: 200px;
}
.app .list-items .item-count-label {
  font-style: italic;
  font-size: 12px;
}
.app .content {
  position: relative;
}
.app .content .loader {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.9);
  z-index: 1;
  padding: 48px 12px;
  font-size: 24px;
}
.app .content.loading {
  display: block;
}
.app .content.loading .loader {
  display: block;
}
.app .list-items h3 {
  cursor: pointer;
  margin: 0;
}

.app .list-items > h3 > i,
.app .content .toggle-panels > i {
  display: inline-block;
  transition: 0.25s transform ease-in-out;
  transform: rotate(0);
}

.app .list-items.collapsed > h3 > i,
.app .content .toggle-panels.collapsed > i {
  transition: 0.25s transform ease-in-out;
  transform: rotate(180deg);
}

.app .list-items > div {
  display: block;
  margin: 4px;
  max-height: 300px;
  overflow: auto;
  transition: 0.25s max-height ease-in-out, 0.1s opacity linear;
  border: thin #ddd solid;
  padding: 4px;
}

.app .list-items.collapsed > div {
  transition: 0.25s max-height ease-in-out, 0.1s opacity linear;
  max-height: 0;
  opacity: 0;
  border: none;
}
